<!DOCTYPE html>
<html>
<head>
  <title>Grid</title>
  <%= stylesheet_link_tag    "grid/application", media: "all" %>
  <%= javascript_include_tag "grid/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
